language: rust
cache: cargo
before_script:
  - cargo update || true
rust:
  - 1.15.1
  - 1.16.0
  - 1.17.0
  - stable
  - beta
  - nightly
matrix:
  include:
   - rust: stable
     env: TASK=rustfmt
     script: cargo install -f rustfmt && PATH=${HOME}/.cargo/bin:$PATH cargo fmt
  allow_failures:
    - rust: nightly
